.navtitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;

}


.header-cell{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 200px;
}


.header-cell-video-location{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 20px;

}


.header-cell-product-code{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 100px;
  
}

.header-cell-product-description{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 350px;
}

.header-cell-factory{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 100px;

}


.header-cell-operation-code{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 60px;

}
.header-cell-operation-description{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 250px;

}










/* cover  */
.cover-con{
    margin-top: 50px;
    max-width: 360px;
}

/* 

.table-fixed{
    height: 15dvi;
    width: auto;
} */
  

/* Add this to your existing CSS file or create a new one */
.table-fixed {
    position: relative;
    height: 300px; /* Set the desired height for the table */
    overflow-y: auto;
}

.table-fixed thead {
    position: sticky;
    top: 0;
    background-color: #fff; /* Set the desired background color for the header */
    z-index: 1;
}
