.navtitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;

}



.header-cell{
    font-size: 13px; /* Adjust the font size as needed */
    min-width: 200px;
}


.table-videos{
    min-height: 400px;
}




/* cover  */
.cover-con{
    margin-top: 50px;
    max-width: 360px;
}