{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Video Management System{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- Add these lines to the head section of your HTML file -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />

    {% comment %} fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <i class="bi bi-house d-block mx-auto mb-1"></i>

    {% include "nav.html" %} {% block content %}{% endblock content %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% include "footer.html" %}
  </body>
</html>
