{% extends 'base.html' %}{% load static %} {% block content %}

<div class="container">
  <div class="d-flex flex-column my-5">
    <div class="input-group my-3">
      <form
        class="input-group my-3"
        method="post"
        enctype="multipart/form-data"
        id="search-form"
      >
        {% csrf_token %}
        <input
          type="search"
          class="form-control rounded mx-1"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          id="search-input"
          name="search-input"
        />
        <button
          type="submit"
          class="btn btn-outline-dark mx-1"
          id="search-btn"
          data-mdb-ripple-init
        >
          search
        </button>
      </form>
    </div>
    <div class="video-stream align-self-center my-1">
      <video
        controls
        width="720"
        id="modalVideo"
        src="additional_media/5221177010179_L-Roling Gear Spacers ( painted .)_Factory 3_SWL3_لحام بنطه_لحام بنطه الماسوره مع البلاتات_2023-12-06_13-07-592.mp4"
        type="video/mp4"
      ></video>
    </div>
    <div id="table-fixed" class="table-fixed">
      <table class="table overflow-y-scroll">
        <thead class="header-cell">
          <tr class="header-cell">
            <th scope="col" class="">#</th>
            <th scope="col" class="header-cell-video-location">
              video location
            </th>

            <th scope="col" class="header-cell-product-code">Product Code</th>
            <th scope="col" class="header-cell-product-description">
              Product Description
            </th>
            <th scope="col" class="header-cell-factory">Factory</th>
            <th scope="col" class="header-cell-operation-code">
              Operation Code
            </th>
            <th scope="col" class="header-cell-operation-description">
              Operation Description
            </th>
            <th scope="col" class="header-cell-machine-number">
              Machine Number
            </th>
            <th scope="col" class="header-cell-machine-description">
              Machine Description
            </th>
            <th scope="col" class="header-cell-operator-code">Operator Code</th>
            <th scope="col" class="header-cell-operator-name">Operator Name</th>

            <!-- Add more columns for other form fields -->
          </tr>
        </thead>
        <tbody class="tbody-class">
          {% for item in videos %}
          <tr
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-video-src="{{ item.video_file }}"
          >
            <th scope="row">{{ forloop.counter }}</th>
            <td>
              <a
                href="#"
                id="view-stream"
                onclick="openStream('{{ item.video_file }}')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-film"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"
                  />
                </svg>
              </a>
            </td>
            <td>{{ item.product_code }}</td>
            <td>{{ item.product_description }}</td>
            <td>{{ item.factory }}</td>
            <td>{{ item.operation_code }}</td>
            <td>{{ item.operation_description }}</td>
            <td>{{ item.machine_number }}</td>
            <td>{{ item.machine_description }}</td>
            <td>{{ item.operator_code }}</td>
            <td>{{ item.operator_name }}</td>
            <!-- Add more cells for other form fields -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  const modalVideo = document.getElementById("modalVideo");

  function openStream(url, format = "mp4") {
    try {
      // Extract the file name without extension
      // Set the video source with the format

      const newSource = `additional_media/${url}`;
      modalVideo.src = newSource;
      console.log(modalVideo.src);
    } catch (error) {
      console.error("Error opening video:", error);
    }
  }
</script>

{% endblock %}
